<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<% if flash.any? %>
  <div class="flash">
    <div class="container">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
  </div>
<% end %>

<%= yield %>

</body>
</html>
